AUTH_TRUST_HOST=true #set this to true
NEXT_PUBLIC_FRONTEND_BASE_URL=http://localhost:3000 #set your frontend url here
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001 #set your backend url here
DATABASE_URL=mongodb+srv://{username}:{password}@cluster0.escecda.mongodb.net/{dbname}?retryWrites=true&w=majority&appName={cluseterName} #set this to your database url u can get this from mongodb atlas
NODE_ENV = production #set this to production
AUTH_SECRET=+oThvvUKrPtX86HwUSNLCUXvWlo3FbVkBobgCyUr9Zo= #set your auth secret here
NEXT_PUBLIC_CONTACT_KEY= cce22d8e-0123-123d-231s-3cf45e9e3321 #get your contact key from https://web3forms.com/ and paste it here
NEXT_PUBLIC_ESEWA_URL = https://rc-epay.esewa.com.np/api/epay/main/v2/form #esewa login redirect page (not needed as esewa is not there)
NEXT_PUBLIC_MERCHANT_CODE = EPAYTEST  #set esewa merchant code here (not needed as esewa is not there)

#to login as admin make a user using register page then go to your database and change his/her role to admin

